body {
    font-family: "Anta", sans-serif;
    background-image: url(collection.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
}

.success-message {
    margin-top: 15px;
    color: green;
    font-weight: bold;
}

.btn {
    padding: 10px 20px rgb(174, 154, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(87, 77, 1)
}
